<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<div class="background"><div class="container pt-5 pb-5"><div class="row">
<div class="col-md-12 col-sm-12">
    <h1 id="main-text" class="display-4 mb-4">Videokonferenzen mit BigBlueButton</h1>
    <p class="lead col-lg-8 col-sm-12 ">
        Willkommen beim Service für Videokonferenzen der
        <a href="https://neustadtpiraten.de">Neustadtpiraten</a>, der
        <a href="https://neustadtpiraten.de">Hochschulpiraten Dresden</a>, der
        <a href="https://neustadtpiraten.de">Piraten Sachsen</a> und der
        <a href="https://piraten-dresden.de">Piraten Dresden</a>. Wir nutzen dafür
        die Open-Source-Software <a href="https://bigbluebutton.org/">BigBlueButton</a>
        und <a href="https://bigbluebutton.org/2018/07/09/greenlight-2-0/">Greenlight</a>
        auf einem Server von <a href="https://hetzner.de">Hetzner</a>.
    </p>
</div></div></div></div>

<div class="container mt-6 mb-6"><div class="row">
<div class="col-lg-4">
    <h4 class="mt-4">Für wen ist dieser Dienst?</h4>
    <p>
        Ihr möchtet gern <b>Videokonferenzen</b> mit mehr als 5 Personen abhalten, habt
        jedoch nicht das nötige Kleingeld für einen Bezahldienst und wollt
        außerdem nicht auf Angebote ausweichen, deren Firmen es mit Datenschutz
        nicht so genau nehmen. Oder Du planst einen <b>Online-Vortrag</b> mit
        mehreren dutzend Teilnehmenden, und suchst eine Plattform mit
        <i>Präsentation</i>, <i>Bildschirmfreigabe</i> und
        <i>Videoaufzeichnung</i>.
    </p>
</div>
<div class="col-lg-4">
    <h4 class="mt-4">Wie nutze ich den Dienst?</h4>
    <p>
        Wenn du regelmäßig Videokonferenzen starten möchtest, dann benötigst du
        eine Einladung von uns. Schreibe dazu eine Mail an
        <a href="mailto:bigbluebutton@neustadtpiraten.de">bigbluebutton@neustadtpiraten.de</a>
        und wir schalten dich umgehend frei.
    </p>
</div>
<div class="col-lg-4">
    <h4 class="mt-4">Geht es auch einfacher?</h4>
    <p>
        Ja. Wenn ihr maximal 5 bis 8 Menschen seid und alle eine gute
        Internetverbindung habt, dann bieten verschiedene Piratenverbände
        als Konferenzplattform <b>Jitsi</b> an. Jitsi hat den Vorteil, dass
        eine Registrierung nicht notwendig ist, kommt jedoch mit Großkonferenzen
        gar nicht klar. Sucht euch einen Dienst aus:
    </p>
    <ul>
        <li><a href="https://meet.piraten-witten.de/">Jitsi bei den Piraten Witten</a></li>
        <li><a href="https://meet.piratenpartei-bw.de/">Jitsi bei den Piraten BaWü</a></li>
        <li><a href="https://meet.piratenpartei-sh.de/">Jitsi bei der Piratenpartei Schleswig-Holstein</a></li>
    </ul>
</div>
</div></div>